.hc-slider {
    position: relative;
    width: 100%;
    height: 2em;
  }

  .hc-slider:before, .hc-slider:after {
    display: table;
    content: " ";
  }

  .hc-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    padding: 0 5px 0 0;
  }

  .hc-range {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
  }

  .hc-slider span.bubble {
    position: absolute;
    font-size:   1.0em;
    line-height: 1.4em;
    font-family: sans-serif;
    text-align:  center;
    text-shadow: none;
    top:         0.5em;
    color: #999;
    margin: 0 5px;
  }

  .hc-slider span.bubble.ceiling {
    left: auto;
    right: 0;
  }

  .hc-slider input[type=number] {
    width: 100%;
    overflow: hidden;
    cursor: text;
  }

