<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="panels.save = false">&times;</button>
<div class="modal-header">
  <h3 class="modal-title">Save this view</h3>
</div>
<div class="modal-body">

  <div class="row">

    <div class="col-md-12">
      <label>Save an image</label>
      <div class="btn-vert-block">
        <button class="btn btn-primary" svg-download="#vis" filename="lr-graph" title="Vector graphic in SVG format">Vector graphic (svg)</button>
      </div>
    </div>

    <div class="col-md-12">
      <label>Save graph data</label>
      <div class="btn-vert-block">
        <button class="btn btn-default" ng-click="saveJson()" filename="lr-graph" title="Download data in Cytoscape compatable JSON">Graph data (JSON)</button>
        <button class="btn btn-default" ng-click="saveGml()" filename="lr-graph" title="Download data in GML format">Graph data (GML)</button>
      </div>
    </div>

    <div class="col-md-12">
      <label>Bookmark or copy this url to save this view</label>
      <div class="input-group">
        <input class="form-control" ng-value="getSaveUrl()" type="text" readonly>
        <span class="input-group-btn">
          <a class="btn btn-default" ng-click="$event.preventDefault()" href="{{getSaveUrl()}}" title="Right click to bookmark"><i class="glyphicon glyphicon-link"></i></a>
          <a class="btn btn-default" href="" clip-copy="getSaveUrl()" title="Copy to clipboard"><i class="fa fa-clipboard"></i></a>
        </span>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="panels.save = false">OK</button>
</div>