<script type="text/ng-template" id="cellTemplate">
  <div class="ngCellText">
    <button class="btn btn-sm btn-link btn-icon" title="Toggle element visibility"
        ng-click="row.entity.ticked = !row.entity.ticked; itemClicked(row);$event.stopPropagation();">
      <span class="glyphicon glyphicon-eye-close icon-check"
        ng-class="{ 'icon-checked': row.entity.ticked }">
        </span>
    </button>
    <button class="btn btn-sm btn-link btn-icon" title="Lock element hidden"
        ng-click="row.entity.locked = !row.entity.locked; itemClicked(row);$event.stopPropagation();">
      <span class="fa fa-unlock icon-check"
        ng-class="{ 'icon-checked': row.entity.locked }">
        </span>
    </button>
  </div>
</script>

<script type="text/ng-template" id="checkboxCellTemplate.html">
  <div class="ngCellText"></div>
</script>

<script type="text/ng-template" id="checkboxHeaderTemplate.html">
  <div>
    <input class="ngSelectionHeader" type="checkbox" title="Select all"
      ng-show="multiSelect"
      ng-model="allSelected"
      ng-change="toggleSelectAll(allSelected, true)"/>
  </div>
</script>

<script type="text/ng-template" id="cellLigandTemplate">
  <div class="ngCellText">
    <button class="btn btn-sm btn-link btn-icon" title="Toggle element visibility"
        ng-click="row.entity.ligand.ticked = !row.entity.ligand.ticked; $event.stopPropagation();">
      <span class="glyphicon glyphicon-eye-close icon-check"
        ng-class="{ 'icon-checked': row.entity.ligand.ticked }">
        </span>
    </button>
    {{row.getProperty(col.field)}}
  </div>
</script>

<script type="text/ng-template" id="cellReceptorTemplate">
  <div class="ngCellText">
    <button class="btn btn-sm btn-link btn-icon" title="Toggle element visibility"
        ng-click="row.entity.receptor.ticked = !row.entity.receptor.ticked; $event.stopPropagation();">
      <span class="glyphicon glyphicon-eye-close icon-check"
        ng-class="{ 'icon-checked': row.entity.receptor.ticked }">
        </span>
    </button>
    {{row.getProperty(col.field)}}
  </div>
</script>

<!-- script type="text/ng-template" id="cellPairTemplate">
  <div class="ngCellText">
    <input type="checkbox" class="glyphicon glyphicon-eye-close"
      ng-model="row.entity.ticked"
      ng-change="itemClicked(row)"></input>
    <input type="checkbox" class="fa fa-unlock"
      ng-model="row.entity.locked"
      ng-change="itemClicked(row)" />
  </div>
</script -->

<script type="text/ng-template" id="menuTemplate.html">
    <div ng-show="showColumnMenu || showFilter" class="ngHeaderButton" ng-click="toggleShowMenu()">
      {{i18n.ngSearchPlaceHolder}} <span class="glyphicon glyphicon-search"></span>
    </div>
    <div ng-show="showMenu" class="ngColMenu">
      <div ng-show="showFilter">
        <input placeholder="{{i18n.ngSearchPlaceHolder}}" type="text" ng-model="filterText"/>
      </div>
    </div>
</script>

<script type="text/ng-template" id="rowTemplate.html">
  <div class="{{ row.entity.locked ? 'locked' : '' }}">
    <div
        ng-style="{ 'cursor': row.cursor }"
        ng-repeat="col in renderedColumns"
        ng-class="col.colIndex()"
        class="ngCell {{col.cellClass}}">
      <div class="ngVerticalBar"ng-style="{height: rowHeight}">&nbsp;</div>
      <div ng-cell></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="cellHGNCTemplate">
<div class="ngCellText" ng-class="col.colIndex()">
  <a href="http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=HGNC:{{COL_FIELD}}" target="_blank">
    {{COL_FIELD}}
  </a>
</div>
</script>

<script type="text/ng-template" id="cellUniProtTemplate">
<div class="ngCellText" ng-class="col.colIndex()">
  <a href="http://www.uniprot.org/uniprot/{{COL_FIELD}}" target="_blank">
    {{COL_FIELD}}
  </a>
</div>
</script>

<script type="text/ng-template" id="cellPubMedTemplate">
<div class="ngCellText" ng-class="col.colIndex()">
  <span ng-if="COL_FIELD == 'putative'">putative</span>
  <a ng-if="COL_FIELD !== 'putative'" href="http://www.ncbi.nlm.nih.gov/pubmed/{{COL_FIELD}}" target="_blank">
    {{COL_FIELD}}
  </a>
</div>
</script>

<script type="text/ng-template" id="visibleHeaderCellTemplate">
  <div class="ngHeaderSortColumn {{col.headerClass}}"
    ng-style="{'cursor': col.cursor}"
    ng-class="{ 'ngSorted': !noSortVisible }">
    <div ng-class="'colt' + col.index" class="ngHeaderText">
      <!-- input
        type="checkbox"
        class="glyphicon glyphicon-eye-close"
        ng-model="allSelected"
        ng-change="toggleSelectAll(allSelected)"></input -->
      <span ng-click="col.sort($event)">{{col.displayName}}</span>
    </div>
    <div class="ngSortButtonDown" ng-show="col.showSortButtonDown()"></div>
    <div class="ngSortButtonUp" ng-show="col.showSortButtonUp()"></div>
    <div class="ngSortPriority">{{col.sortPriority}}</div>
  </div>
  <div
    ng-show="col.resizable"
    class="ngHeaderGrip"
    ng-click="col.gripClick($event)"
    ng-mousedown="col.gripOnMouseDown($event)"></div>
</script>

<tabset>
  <tab active="active1">
    <tab-heading ng-click="panelState.data = true" bindonce="data">
      Cell types ({{selectedIds.cells.length}}/<span bo-text="data.cells.length"></span>)
    </tab-heading>
    <div class="gridStyle" ng-grid="gridOptions.cells" ng-if="panelState.data && active1"></div>
  </tab>
  <tab active="active2">
    <tab-heading ng-click="panelState.data = true" bindonce="data">Genes ({{selectedIds.genes.length}}/<span bo-text="data.genes.length"></span>)</tab-heading>
    <div class="gridStyle" ng-grid="gridOptions.genes" ng-if="panelState.data && active2"></div>
  </tab>
  <tab active="active3">
    <tab-heading ng-click="panelState.data = true" bindonce="data">Pairs ({{selectedIds.pairs.length}}/<span bo-text="data.pairs.length"></span>)</tab-heading>
    <div class="gridStyle" ng-grid="gridOptions.pairs" ng-if="panelState.data && active3"></div>
  </tab>
  <tab active="active4">
    <tab-heading ng-click="panelState.data = true">Options</tab-heading>
    <div ng-if="active4">
      <div class="col-md-3">
        <h4>Graph</h4>
        <form class="well">
          <ul class="list-unstyled">
            <li><span><input type="checkbox" ng-model="options.showLabels" /> Show node labels</span>
            <!-- li><span><input type="radio" ng-model="state.name" value="home.force-graph" /> force directed graph</span>
            <li><span><input type="radio" ng-model="state.name" value="home.hive-graph" /> hive plot</span -->
          </ul>
        </form>

        <div class="btn-vert-block">
          <button class="btn btn-primary col-xs-12" svg-download="#vis" filename="lr-graph"  title="Vector graphic in SVG format">Vector graphic (svg)</button>
          <button class="btn btn-default col-xs-12" ng-click="saveJson()" filename="lr-graph" title="Download data in Cytoscape compatable JSON">Graph data (JSON)</button>
          <button class="btn btn-default col-xs-12" ng-click="saveGml()" filename="lr-graph" title="Download data in GML format">Graph data (GML)</button>
        </div>

      </div>
      <div class="col-md-3">
        <h4>Edges</h4>
        <form class="well">

          <div>
            <span>Ligand TPM</span>
            <div class="pull-right small ng-binding">&gt; {{options.ligandFilter | number:0}} tpm</div>
          </div>

          <div hc-slider
            ng-model="options.ligandFilter"
            max="[graphData.ligandExtent[1], 10] | max"
            min="0"
            step="1">
          </div>

          <p />
          <div>
            <span>Receptor TPM</span>
            <div class="pull-right small ng-binding">&gt; {{options.receptorFilter | number:0}} tpm</div>
          </div>

          <div
            hc-slider
            ng-model="options.receptorFilter"
            max="[graphData.receptorExtent[1],10] | max"
            min="0"
            step="1">
          </div>

          <p />
          <div>
            <span>Expression edge cutoff</span>
            <div class="pull-right small ng-binding">top {{options.edgeRankFilter | percentage}}</div>
          </div>

          <div hc-slider
            ng-model="options.edgeRankFilter"
            max="1"
            min="0"
            step="0.01">
          </div>

        </form>
      </div>
      <div class="col-md-12">
        <div class="pull-right">
          <a class="btn btn-default" ng-click="resetOptions()">Reset options</a>
        </div>
      </div>
    </div>
  </tab>
  <tab active="active5">
    <tab-heading ng-click="panelState.data = true">Help</tab-heading>
    <div class="col-md-12">
      <h4 class="title">Ligand Receptor Connectome <small>{{site.version}}</small></h4>
      <p>A visual guide to FANTOM5 Ligand-Receptor interactions</p>

      <marked>
* Entity and options panel
  * Use the toggle button on the bottom right to show and hide the entity and options panel.
  * Switch between lists of cells, genes, and ligand receptor pairs using the tabs.
  * Turn on and off cells, genes, and ligand receptors pairs using the toggle button on the left in each row.
  * Use ctrl-click and shift-click to select multiple nodes and change visibility as a group.
  * Use the "Search..." button on the upper right of the data list to filter each lists by substring search.
  * Download the visualization or data shown in the options tab.
* Information panel
  * Use the toggle button on the top right to show and hide the information panel.
  * This panel will display information about the current network as well as additional information on selected nodes and edges.
* Search feature
  * Use the search button (magnifying glass) in the upper right to search for top expression values and/or top cell-cell pathways.
* Visualization style
  * Use the visualization toggle button in the upper right to switch between hive plot and force direct plot.
* Visualization
  * Click to select a node.  Click again to deselect.  Node information will appear in the information panel.
  * Hold the Ctrl key to selected multiple nodes.  Shift-Click to select a node and neighbors.
  * Right click for additional options.
      </marked>
    </div>
  </tab>
</tabset>

<div class="pageslide-toggle bottom">
  <button type="button" ng-click="panelState.data = !panelState.data; active5=true;" class="navbar-toggle pull-right" title="Click to show options" style="display: inline-block;">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
