
<h4 class="title">Ligand Receptor Connectome</h4>
<p>A visual guide to FANTOM5 Ligand-Receptor interactions</p>

<accordion close-others="false">

  <accordion-group heading="Options" is-open="panels.state.options" ng-class="{'collapsed': !panels.state.options}">

  </accordion-group>

  <accordion-group heading="Explanation" is-open="panels.state.help" ng-class="{'collapsed': !panels.state.help}">
    <p>
    <ul>
      <li>Select samples and genes from node filter section on the left.</li>
      <li>Add or remove Ligand - Receptor pairs in the edge filter section.</li>
      <li>Hover over nodes and edges to get more information.</li>
      <li>Click a node to fix in place.  Click again to release.</li>
      <li>Ctrl-Click to selected multiple nodes.</li>
      <li>Add or remove genes by clicking on gene names in the information box.</li>
      <li>Switch between hive and force directed graph in the options selection</li>
    </ul>
    </p>
  </accordion-group>

  <accordion-group heading="Download" is-open="panels.state.download" ng-class="{'collapsed': !panels.state.download}">

  </accordion-group>

</accordion>
