
<h4 class="title">Ligand Receptor Connectome</h4>
<p>A visual guide to FANTOM5 Ligand-Receptor interactions</p>

<accordion close-others="false">

  <accordion-group heading="Node Filters" is-open="panels.state.nodeFilters" ng-class="{'collapsed': !panels.state.nodeFilters}">

    <div>

      <div panel
        heading="Samples"
        is-open="panels.state.cells"
        label="{{selectedIds.cells.length}} / {{data.cells.length}}">

          <div
                multi-select
                input-model="data.cells"
                button-label="name"
                item-label="name"
                tick-property="ticked"
                max-labels="1" ng-if="panels.state.nodeFilters">
          </div>

      </div>

      <p />
      <div panel
        heading="Genes"
        is-open="panels.state.genes"
        label="{{selectedIds.genes.length}} / {{data.genes.length}}">

        <div
              multi-select
              input-model="data.genes"
              button-label="name"
              item-label="name description"
              tick-property="ticked"
              max-labels="3" ng-if="panels.state.nodeFilters">
        </div>

      </div>

      <p />
      <div panel
        heading="Ligand cutoff"
        is-open="panels.state.receptorRank"
        label="top {{options.ligandRankFilter | percentage}}"
        title="Showing only top ligands">

        <div hc-slider
          ng-model="options.ligandRankFilter"
          max="1"
          min="0"
          step="0.01"
          ng-if="panels.state.nodeFilters">
        </div>

      </div>

      <p />
      <div panel
        heading="Receptor rank"
        is-open="panels.state.ligandRank"
        label="top {{options.receptorRankFilter | percentage}}">

        <div hc-slider
          ng-model="options.receptorRankFilter"
          max="1"
          min="0"
          step="0.01"
          ng-if="panels.state.nodeFilters">
        </div>

      </div>

    </div>

  </accordion-group>

  <accordion-group heading="Edge Filters" is-open="panels.state.edgeFilters" ng-class="{'collapsed': !panels.state.edgeFilters}">

    <div panel
      heading="Ligand - Receptor Pairs"
      is-open="panels.state.pairs"
      label="{{selectedIds.pairs.length}} / {{data.pairs.length}}">

      <div multi-select
            input-model="data.pairs"
            button-label="name"
            item-label="name"
            tick-property="ticked"
            max-labels="1" ng-if="panels.state.edgeFilters">
      </div>

    </div>

    <p />
    <div panel
      heading="Ligand TPM"
      is-open="panels.state.ligand"
      label="&gt; {{options.ligandFilter | number:0}} tpm"
      title="Only showing edges where the receptor expression exceeds tpm">

      <div hc-slider
        ng-model="options.ligandFilter"
        max="[graphData.ligandExtent[1], 10] | max"
        min="0"
        step="1"
        ng-if="panels.state.edgeFilters">
      </div>

    </div>

    <p />
    <div
      panel
      heading="Receptor TPM"
      is-open="panels.state.receptor"
      label="&gt; {{options.receptorFilter | number:0}} tpm"
      title="Only showing edges where the receptor expression exceeds tpm">

      <div
        hc-slider
        ng-model="options.receptorFilter"
        max="[graphData.receptorExtent[1],10] | max"
        min="0"
        step="1"
        ng-if="panels.state.edgeFilters">
      </div>

    </div>

    <p />
    <div panel
      heading="Edge cutoff"
      label="top {{options.edgeRankFilter | percentage}}"
      is-open="panels.state.edges"
      title="Showing only top {{options.edgeRankFilter |percentage}}% of edges">

      <div hc-slider
        ng-model="options.edgeRankFilter"
        max="1"
        min="0"
        step="0.01"
        ng-if="panels.state.edgeFilters">
      </div>

    </div>
  </accordion-group>

  <accordion-group heading="Options" is-open="panels.state.options" ng-class="{'collapsed': !panels.state.options}">

    <ul class="list-unstyled">
      <li><span><input type="checkbox" ng-model="options.showLabels" /> Show node labels</span>
      <li><span><input type="radio" ng-model="state.name" value="home.force-graph" /> force directed graph</span>
      <li><span><input type="radio" ng-model="state.name" value="home.hive-graph" /> hive plot</span>
    </ul>

    <div class="btn-vert-block">
      <a class="btn btn-primary col-xs-12" ui-sref="reset">Reset all options</a>
    </div>
  </accordion-group>

  <accordion-group heading="Explanation" is-open="panels.state.help" ng-class="{'collapsed': !panels.state.help}">
    <p>
    <ul>
      <li>Select samples and genes from node filter section on the left.</li>
      <li>Add or remove Ligand - Receptor pairs in the edge filter section.</li>
      <li>Hover over nodes and edges to get more information.</li>
      <li>Click a node to fix in place.  Click again to release.</li>
      <li>Ctrl-Click to selected multiple nodes.</li>
      <li>Add or remove genes by clicking on gene names in the information box.</li>
      <li>Switch between hive and force directed graph in the options selection</li>
    </ul>
    </p>
  </accordion-group>

  <accordion-group heading="Download" is-open="panels.state.download" ng-class="{'collapsed': !panels.state.download}">

    <div class="btn-vert-block">
      <button class="btn btn-primary col-xs-12" svg-download="#vis" filename="lr-graph"  title="Vector graphic in SVG format">Vector graphic (svg)</button>
      <button class="btn btn-default col-xs-12" ng-click="saveJson()" filename="lr-graph" title="Download data in Cytoscape compatable JSON">Graph data (JSON)</button>
      <button class="btn btn-default col-xs-12" ng-click="saveGml()" filename="lr-graph" title="Download data in GML format">Graph data (GML)</button>
    </div>

  </accordion-group>

</accordion>
