
<h4 class="title">Ligand Receptor Connectome</h4>
<p>A visual guide to FANTOM5 Ligand-Receptor interactions</p>

<accordion close-others="false">

  <accordion-group heading="Node Filters" is-open="panelState.nodeFilters" ng-class="{'collapsed': !panelState.nodeFilters}">

    <div>

      <div panel
        heading="Samples"
        is-open="panelState.cells"
        label="{{selectedIds.cells.length}} / {{data.cells.length}}">

          <div
                multi-select
                input-model="data.cells"
                button-label="name"
                item-label="name"
                tick-property="ticked"
                max-labels="1" ng-if="panelState.nodeFilters">
          </div>

      </div>

      <p />
      <div panel
        heading="Genes"
        is-open="panelState.genes"
        label="{{selectedIds.genes.length}} / {{data.genes.length}}">

        <div
              multi-select
              input-model="data.genes"
              button-label="name"
              item-label="name description"
              tick-property="ticked"
              max-labels="3" ng-if="panelState.nodeFilters">
        </div>

      </div>

      <p />
      <div panel
        heading="Ligand cutoff"
        is-open="panelState.receptorRank"
        label="top {{options.ligandRankFilter | percentage}}"
        title="Showing only top ligands">

        <div hc-slider
          ng-model="options.ligandRankFilter"
          max="1"
          min="0"
          step="0.01"
          ng-if="panelState.nodeFilters">
        </div>

      </div>

      <p />
      <div panel
        heading="Receptor rank"
        is-open="panelState.ligandRank"
        label="top {{options.receptorRankFilter | percentage}}">

        <div hc-slider
          ng-model="options.receptorRankFilter"
          max="1"
          min="0"
          step="0.01"
          ng-if="panelState.nodeFilters">
        </div>

      </div>

    </div>

  </accordion-group>

  <accordion-group heading="Edge Filters" is-open="panelState.edgeFilters" ng-class="{'collapsed': !panelState.edgeFilters}">

    <div panel
      heading="Ligand - Receptor Pairs"
      is-open="panelState.pairs"
      label="{{selectedIds.pairs.length}} / {{data.pairs.length}}">

      <div multi-select
            input-model="data.pairs"
            button-label="name"
            item-label="name"
            tick-property="ticked"
            max-labels="1" ng-if="panelState.edgeFilters">
      </div>

    </div>

    <p />
    <div panel
      heading="Ligand TPM"
      is-open="panelState.ligand"
      label="&gt; {{options.ligandFilter | number:0}} tpm"
      title="Only showing edges where the receptor expression exceeds tpm">

      <div hc-slider
        ng-model="options.ligandFilter"
        max="[graphData.ligandExtent[1], 10] | max"
        min="0"
        step="1"
        ng-if="panelState.edgeFilters">
      </div>

    </div>

    <p />
    <div
      panel
      heading="Receptor TPM"
      is-open="panelState.receptor"
      label="&gt; {{options.receptorFilter | number:0}} tpm"
      title="Only showing edges where the receptor expression exceeds tpm">

      <div
        hc-slider
        ng-model="options.receptorFilter"
        max="[graphData.receptorExtent[1],10] | max"
        min="0"
        step="1"
        ng-if="panelState.edgeFilters">
      </div>

    </div>

    <p />
    <div panel
      heading="Edge cutoff"
      label="top {{options.edgeRankFilter | percentage}}"
      is-open="panelState.edges"
      title="Showing only top {{options.edgeRankFilter |percentage}}% of edges">

      <div hc-slider
        ng-model="options.edgeRankFilter"
        max="1"
        min="0"
        step="0.01"
        ng-if="panelState.edgeFilters">
      </div>

    </div>
  </accordion-group>

  <accordion-group heading="Options" is-open="panelState.options" ng-class="{'collapsed': !panelState.options}">
    <div>
      Show node labels
      <div class="pull-right small"><input type="checkbox" ng-model="options.showLabels" /></div>
    </div>

    <p>
      <span ng-click="go('force-graph')"><input type="radio" ng-model="state" value="force-graph" /> force directed graph</span>
      <br /><span ng-click="go('hive-graph')"><input type="radio" ng-model="state" value="hive-graph" /> hive plot</span>
    </p>
  </accordion-group>

  <accordion-group heading="Explanation" is-open="panelState.help" ng-class="{'collapsed': !panelState.help}">
    <p>
    <ul>
      <li>Select samples and node cut offs from node filter section.</li>
      <li>Select Ligand - Receptor pairs and edge cut offs from the edge filter section.</li>
      <li>Hover over nodes and edges to get more information.</li>
      <li>Click and drag nodes to move.</li>
      <li>Double click a node to fix in place.  Double click again to release.</li>
    </ul>
    </p>
  </accordion-group>

  <accordion-group heading="Download" is-open="panelState.download" ng-class="{'collapsed': !panelState.download}">

    <div class="btn-vert-block">
      <button class="btn btn-primary col-xs-12" svg-download="#vis" filename="lr-graph"  title="Vector graphic in SVG format">Vector graphic (svg)</button>
      <button class="btn btn-default col-xs-12" ng-click="saveJson()" filename="lr-graph" title="Download data in Cytoscape compatable JSON">Graph data (JSON)</button>
      <button class="btn btn-default col-xs-12" ng-click="saveGml()" filename="lr-graph" title="Download data in GML format">Graph data (GML)</button>
    </div>

  </accordion-group>

</accordion>
