/* Space out content a bit */
body {
  padding: 0px;
  margin: 0;
}

.marketing,
.footer,
.container-fluid {
  padding: 0px;
  margin: 0;
}

#header {
  height: 40px;
  position: absolute;
  padding: 5px 20px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#header .navbar-toggle {
  display: inline-block;
  float: left;
  padding: 5px;
  margin: 0;
  background-color: buttonface;
}

.icon-bar {
  background-color: red;
}

/* Custom page footer */

#ui {
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  opacity: 0.9;
}

#ui .title, #ui p {
  padding: 0 5px;
}

#ui .collapsed > a > .caret, #ui a.collapsed > .caret, .caret.collapsed {
  border: 1px solid red;
  border-left: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

#ui:hover {
  opacity: 1;
}

#content {
  overflow: hidden;
}

#footer {
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }  
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.rotate {
  display: inline-block;
}

.chosen-container-multi {
width: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
height: auto;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url(/bower_components/chosen/chosen-sprite.png) -42px 1px no-repeat;
}

.snap-content {
  background-color: white;
}



#ui .panel-group .panel {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ui .panel-heading {
  padding: 10px 5px;
  border: 0;
  border-radius: 0;
  background-color: buttonface;
  cursor: pointer;
}

#ui .panel-body {
  padding: 15px 5px;
}

#ui .panel .panel-title a:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";
    float: right;
    color: grey;
    font-size: 12px;
    margin: 5px 5px;
}

#ui .panel.collapsed .panel-title a:after {
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}