
<div snap-drawer id="ui">
  <div ui-view="panel"></div>
  <p>
    <button class="btn btn-primary" svg-download="#vis" title="lr-graph">Download svg</button>
  </p>
</div>
<div id="content" snap-content id="content" style="-webkit-transform: translate3d(350px, 0px, 0px);">

  <noscript>Missing javascript</noscript>
  <div id="vis">
    <svg></svg>
  </div>

  <div id="header" class="header row">
    <button type="button" snap-toggle class="navbar-toggle" title="Click to show stats and options">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div ui-view="header">
    </div>
  </div>

  <div id="footer" class="footer text-center">
    <p>Made and maintained by J. Harshbarger.</p>
  </div>

</div>




