.pageslide {
  z-index: 1000;
  position: fixed;
  width: 350px;
  height: 100%;
  top: 0px;
  bottom: 0px;
  -moz-transition-property: all; /* Firefox 4 */
  -webkit-transition-property: all; /* Safari and Chrome */
  -o-transition-property: all; /* Opera */
  transition-property: all;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  background: #eee;
  padding: 0 3px;
  box-shadow: 0px 0px 5px #888888;
}

.pageslide {
  display: block !important;
}

.pageslide-toggle {
  position: absolute;
  top: 5px;
  z-index: 1010;
}

.pageslide-toggle.right {
  right: 10px;
}

.pageslide-toggle.left {
  left: 10px;
}

.pageslide-toggle.bottom {
  top: 5px;
  right: 5px;
}

.pageslide-right {
  right: 0px;
}

.pageslide-left {
  left: 0px;
}

.pageslide-bottom {
  left: 0px;
  right: 0px;
  top: auto;
  bottom: 0px;
  height: 400px;
  width: auto;
}

.pageslide-bottom .tab-pane {
  overflow-y: auto;
  height: 350px;
}

.pageslide-bottom .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 340px;
}

.ngCellText input[type="checkbox"] {
margin-top: 4px;
margin-left: 6px;
}

.pageslide.ng-hide > div, .pageslide.ng-hide-remove > div {
  display: none;
}

.pageslide-bottom.ng-hide > div, .pageslide-bottom.ng-hide-remove > div {
  display: block;
}

.pageslide-right.ng-hide {
  -webkit-transform: translateX(345px); /* Chrome, Safari, Opera */
  transform: translateX(345px);
}

.pageslide-left.ng-hide {
  /* width: 0px; */
  -webkit-transform: translateX(-345px); /* Chrome, Safari, Opera */
  transform: translateX(-345px);
}

.pageslide-bottom.ng-hide {
  /* width: 0px; */
  -webkit-transform: translateY(360px); /* Chrome, Safari, Opera */
  transform: translateY(360px);
}
