
<div >
  <div class="row pageslide pageslide-right"
       ng-show="panels.state.info" >

    <div class="pageslide-toggle right btn-vert-block">

      <button type="button"
              ng-click="panelState.info = !panelState.info"
              class="btn navbar-toggle col-xs-12"
              title="Click to show information"
              style="display: inline-block;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <button class="btn navbar-toggle col-xs-12 glyphicon glyphicon-search" ng-click="panels.search = !panels.search">
      </button>

      <button class="btn navbar-toggle col-xs-12 glyphicon"
        ng-class="{ true: 'glyphicon-repeat', false: 'glyphicon-refresh'}[state.name == 'home.hive-graph']"
        ng-click="state.name = (state.name == 'home.hive-graph') ? 'home.force-graph' : 'home.hive-graph'">
      </button>
    </div>

    <div
      ng-if="panels.state.info">
      <div class="new-tip" ng-cloak ng-show="graphData.nodes.length > 0">
        <ul class="list-unstyled" bindonce="data">
          <li>Samples: {{selectedIds.cells.length}} / <span bo-text="data.cells.length"></span></li>
          <li>Genes:   {{selectedIds.genes.length}} / <span bo-text="data.genes.length"></span></li>
          <li>Pairs:   {{selectedIds.pairs.length}} / <span bo-text="data.pairs.length"></span></li>
        </ul>
        <ul class="list-unstyled" bindonce="graphData">
          <li>Nodes: {{graphData._nodes.length}} / {{graphData.nodes.length}}</li>
          <li>Edges: {{graphData._edges.length}} / {{graphData.edges.length}}</li>
        </ul>
      </div>

      <div growl></div>

      <div ng-repeat="item in graphData.selectedItems track by item.id" class="new-tip" ng-class="item.hover ? 'bg-warning' : 'bg-danger'" ng-if="item.type">
        <button type="button" class="close" aria-hidden="true" ng-click="revoveSelectedItem($index)">&times;</button>
        <div ng-include="'components/ui/item.html'">
        </div>
      </div>
    </div>

  </div>
<div>

<div class="modal-dialog" ng-show="panels.search">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="panels.search = !panels.search">&times;</button>
    <tabset>
      <tab heading="Expression">

        <div class="modal-body">
          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="col-sm-3 control-label">Cell</label>
              <div class="col-sm-9">

                <select class="col-xs-12" multiple data-placeholder="Pick a cell or cells" 
                  ui-select2="{'multiple': true }"
                  ng-model="exprFilter.cell.id">
                  <option ng-repeat="cell in data.cells" value="{{cell.id}}">{{cell.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Gene</label>
              <div class="col-sm-9">

                <select class="col-xs-12" multiple data-placeholder="Pick a gene or genes"
                  ui-select2="{'multiple': true }"
                  ng-model="exprFilter.gene.id">
                  <option ng-repeat="gene in data.genes" value="{{gene.id}}">{{gene.name}}</option>
                </select>

                <div class="pull-right">
                  <input type="radio" name="class[]" value="ligand" ng-model="exprFilter.gene.class"> Ligands
                  <input type="radio" name="class[]" value="receptor" ng-model="exprFilter.gene.class"> Receptors
                </div>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-9">
                <input type="checkbox" ng-model="exprFilter.specificity">
                <label class="control-label">Rank by specificity</label>
              </div>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="exprFilter = {}">Clear form</button>
          <button type="button" class="btn btn-default" ng-click="clearVis();  panels.search = false; showExpressionEdges(exprFilter, 10);">Show only top expression</button>
          <button type="button" class="btn btn-primary" ng-click="panels.search = false; showExpressionEdges(exprFilter, 10);">Add top expression</button>
        </div>

      </tab>
      <tab heading="Pathways">

        <div class="modal-body">

          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="col-sm-3 control-label">Source cell</label>
              <div class="col-sm-9">

                <select class="col-xs-12" multiple data-placeholder="Pick a source cell"
                  ui-select2="{'multiple': true }"
                  ng-model="pathFilter.source.id" >
                  <option ng-repeat="cell in data.cells" value="{{cell.id}}">{{cell.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Pair</label>
              <div class="col-sm-9">

                <select  class="col-xs-12" multiple data-placeholder="Pick a ligand receptor pair"
                  ui-select2="{'multiple': true }"
                  ng-model="pathFilter.pair.id">
                  <option ng-repeat="pair in data.pairs" value="{{pair.id}}">{{pair.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Target cell</label>
              <div class="col-sm-9">

                  <select multiple class="col-xs-12" data-placeholder="Pick a target cell"
                    ui-select2="{'multiple': true }"
                    ng-model="pathFilter.target.id">
                    <option ng-repeat="cell in data.cells" value="{{cell.id}}">{{cell.name}}</option>
                  </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-9">
                <input type="checkbox" ng-model="pathFilter.specificity">
                <label class="control-label">Rank by specificity</label>
              </div>
            </div>

          </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="pathFilter = {}">Clear form</button>
            <button type="button" class="btn btn-default" ng-click="panels.search = false; clearVis(); showPaths(pathFilter, 10);">Show only top pathways</button>
            <button type="button" class="btn btn-primary" ng-click="panels.search = false; showPaths(pathFilter, 10);">Add top pathways</button>
        </div>

      </tab>
      
      <tab heading="Pathways 2">

        <div class="modal-body">
          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="col-sm-3 control-label">Cell</label>
              <div class="col-sm-9">

                <select class="col-xs-12" data-placeholder="Pick a cell" multiple
                  ui-select2="{'multiple': true }"
                  ng-model="pathFilter2.cell.id">
                  <option ng-repeat="cell in data.cells" value="{{cell.id}}">{{cell.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Ligand</label>
              <div class="col-sm-9">

                <select class="col-xs-12" data-placeholder="Pick a ligand receptor pair" multiple
                  ui-select2="{'multiple': true }"
                  ng-model="pathFilter2.pair.id">
                  <option ng-repeat="pair in data.pairs" value="{{pair.id}}">{{pair.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-9">
                <input type="checkbox" ng-model="pathFilter2.specificity">
                <label class="control-label">Rank by specificity</label>
              </div>
            </div>
            
          </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="pathFilter2 = {}">Clear form</button>
            <button type="button" class="btn btn-default" ng-click="panels.search = false; clearVis(); showPaths(pathFilter2, 10);">Show only top pathways</button>
            <button type="button" class="btn btn-primary" ng-click="panels.search = false; showPaths(pathFilter2, 10);">Add top pathways</button>
        </div>

      </tab>

    </tabset>

  </div>
</div><!-- /.modal-dialog -->
