
<div >
  <div class="row pageslide pageslide-right"
       ng-show="panels.state.info" >

    <div class="pageslide-toggle right btn-vert-block">

      <button type="button"
              ng-click="panelState.info = !panelState.info"
              class="btn navbar-toggle col-xs-12"
              title="Click to show information"
              style="display: inline-block;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <button class="btn navbar-toggle col-xs-12 glyphicon glyphicon-search" title="Search"
        ng-click="panels.search = !panels.search">
      </button>

      <button class="btn navbar-toggle col-xs-12 glyphicon" title="Swich visualization mode"
        ng-class="{ true: 'glyphicon-repeat', false: 'glyphicon-refresh'}[state.name == 'home.hive-graph']"
        ng-click="state.name = (state.name == 'home.hive-graph') ? 'home.force-graph' : 'home.hive-graph'">
      </button>
    </div>

    <div
      ng-if="panels.state.info">
      <div class="new-tip" ng-cloak ng-show="graphData.nodes.length > 0">
        <ul class="list-unstyled" bindonce="graphData">
          <li>Nodes: {{graphData._nodes.length}} / {{graphData.nodes.length}}</li>
          <li>Edges: {{graphData._edges.length}} / {{graphData.edges.length}}</li>
        </ul>
      </div>

      <div growl></div>

      <div ng-repeat="item in graphData.selectedItems track by item.id" class="new-tip" ng-class="item.hover ? 'bg-warning' : 'bg-danger'" ng-if="item.type">
        <button type="button" class="close" aria-hidden="true" ng-click="revoveSelectedItem($index)">&times;</button>
        <div ng-include="'components/ui/item.html'">
        </div>
      </div>
    </div>

  </div>
<div>

<div class="modal-dialog" ng-show="panels.search">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="panels.search = !panels.search">&times;</button>
    <tabset>
      <tab heading="Expression">

        <div class="modal-body">
          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="col-sm-3 control-label">Cell</label>
              <div class="col-sm-9">

                <select multiple data-placeholder="Pick a cell or cells" 
                  ui-select2="{'multiple': true }"
                  ng-model="exprFilter.cell.id">
                  <option ng-repeat="cell in data.cells" value="{{cell.id}}">{{cell.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group" ng-init="exprFilter.gene.class = 'each'">
              <label class="col-sm-3 control-label">Genes</label>
              <div class="col-sm-9">
                <input type="radio" name="class[]" ng-model="exprFilter.gene.class" value="each">
                <label class="control-label"> Top ligands and top receptors</label>
                <br><input type="radio" name="class[]" ng-model="exprFilter.gene.class" value="ligand" checked>
                <label class="control-label"> Top ligands only</label>
                <br><input type="radio" name="class[]" ng-model="exprFilter.gene.class" value="receptor">
                <label class="control-label"> Top receptors only</label>
                <br><input type="radio" name="class[]" ng-model="exprFilter.gene.class" value="">
                <label class="control-label"> Specific genes</label>
                <select class="col-md-10" multiple data-placeholder="Pick a gene or genes"
                  ui-select2="{'multiple': true }"
                  ng-show="exprFilter.gene.class == ''"
                  ng-model="exprFilter.gene.id">
                  <option ng-repeat="gene in data.genes" value="{{gene.id}}">{{gene.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group" ng-init="exprFilter.rank = 'specificity'">
              <label class="col-sm-3 control-label">Rank by</label>
              <div class="col-sm-9">
                <input type="radio" name="rank[]" ng-model="exprFilter.rank" value="specificity">
                <label class="control-label">specificity</label>              
                <br><input type="radio" name="rank[]" ng-model="exprFilter.rank" value="expression" checked>
                <label class="control-label">expression</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-sm-9">

              </div>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="exprFilter = { rank: 'expression', gene: { class: 'each' }}">Clear form</button>
          <!-- button type="button" class="btn btn-primary" ng-click="panels.search = false; showExpressionEdges(exprFilter, 10);">Add</button -->
          <button type="button" class="btn btn-primary" ng-click="clearVis();  panels.search = false; showExpressionEdges(exprFilter, 10);">Show top</button>
        </div>

      </tab>
      <tab heading="Pathways">

        <div class="modal-body">

          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="col-sm-3 control-label">Cell A</label>
              <div class="col-sm-9">

                <select multiple data-placeholder="Pick a cell type"
                  ui-select2="{'multiple': true }"
                  ng-model="pathFilter.source.id" >
                  <option ng-repeat="cell in data.cells" value="{{cell.id}}">{{cell.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Pair</label>
              <div class="col-sm-9">

                <select multiple data-placeholder="Pick a ligand receptor pair"
                  ui-select2="{'multiple': true }"
                  ng-model="pathFilter.pair.id">
                  <option ng-repeat="pair in data.pairs" value="{{pair.id}}">{{pair.name}}</option>
                </select>

              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Cell B</label>
              <div class="col-sm-9">

                  <select multiple data-placeholder="Pick a cell type"
                    ui-select2="{'multiple': true }"
                    ng-model="pathFilter.target.id">
                    <option ng-repeat="cell in data.cells" value="{{cell.id}}">{{cell.name}}</option>
                  </select>

              </div>
            </div>

            <div class="form-group" ng-init="pathFilter.direction = 'each'">
              <label class="col-sm-3 control-label">Direction</label>
              <div class="col-sm-9">
                <input type="radio" name="direction[]" ng-model="pathFilter.direction" value="AB">
                <label class="control-label"> Directional (A->B)</label>
                <!-- br>
                <input type="radio" name="direction[]" ng-model="pathFilter.direction" value="BA">
                <label class="control-label"> B -> A</label -->
                <br>
                <input type="radio" name="direction[]" ng-model="pathFilter.direction" value="each">
                <label class="control-label"> Bi-directional (Top A->B and Top B->A)</label>
              </div>
            </div>

            <div class="form-group" ng-init="pathFilter.rank = 'specificity'">
              <label class="col-sm-3 control-label">Rank by</label>
              <div class="col-sm-9">
                <input type="radio" name="rank[]" ng-model="pathFilter.rank" value="specificity">
                <label class="control-label">specificity sum</label>                
                <br><input type="radio" name="rank[]" ng-model="pathFilter.rank" value="expression" checked>
                <label class="control-label">expression product</label>
              </div>
            </div>

          </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="pathFilter = { rank: 'specificity', direction: 'each' }">Clear form</button>
            <button type="button" class="btn btn-primary" ng-click="panels.search = false; clearVis(); showPaths(pathFilter, 10);">Show top</button>
            <!-- button type="button" class="btn btn-primary" ng-click="panels.search = false; showPaths(pathFilter, 10);">Add top pathways</button -->
        </div>

      </tab>

    </tabset>

  </div>
</div><!-- /.modal-dialog -->
