  /* #vis { text-align: center; width: 700px;}
  #vis svg { width: 100%; height: 500px; } */

#vis svg { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  right: 0;
  width: 100%;
  height: 100%;
  
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
  font-family: Helvetica, Arial, sans-serif;
}

.node {
  fill: #ccc;
  fill-opacity: 1;
  stroke: #333;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  stroke: #333;
  fill: #333;
  stroke-width: 1px;
  font-size: 8px;
  cursor: pointer;
  display: none;
}

svg.labels .node text {
  display: inherit;
} 



.node:hover, .node.hover {
  stroke: #333;
  fill: blue;
  stroke-width: 2px;
}

.node:hover text, .node.hover text, .node.fixed text {
  font-size: 18px;
}

.node.fixed circle {
  stroke: red !important;
  stroke-width: 3px !important;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  opacity: 0.6;
}

svg.fixed .link {
  stroke: #666;
  opacity: 0.3;
}

svg.hover .link {
  stroke: #666 !important;
  opacity: 0.1 !important;
}

svg.hover .link.hover, .link:hover {
  stroke: blue !important;
  opacity: 1 !important;
}

svg.fixed .link.fixed {
  stroke: red;
  opacity: 1;
}

.target-arrow {
  stroke-width: 1px;
  stroke: #666;
  fill: none;
  opacity: 1;
}

#legend {
  margin: 0 30px;
  display: inline-block;
}

#legend .rotate {
  height:30px;
  line-height: 30px;
}

#legend .node {
  display: inline-block;
  border: 0;
  width: 16px;
  height: 16px;
  margin-top: 0;
  border-radius: 8px;
}

#legend .node.receptor {
  background-color: #99ccff;
}

#legend .node.ligand {
  background-color: #00cc66;
}

#legend .node.both {
  background-color: #cc33cc;
}


.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 100;
  pointer-events:none !imporatant;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip.node:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.node.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

