
<div id="vis">
  <noscript>Missing javascript</noscript>
  <svg></svg>
</div>

<div id="header" class="header row">
  <div id="legend" class="col-md-10">
    <div class="rotate"> <div class="node ligand"></div> Ligand</div>
    <div class="rotate"> <div class="node receptor"></div> Receptor</div>
    <div class="rotate"> <div class="node both"></div> Both</div>
  </div>
</div>

<div id="ui" class="content col-md-2" ng-controller="UICtrl">
  <div class="col-md-12">

    <h4>Ligand Receptor Connectome</h4>
    A visual guide to FANTOM5 Ligand-Receptor interactions
    
    <p />
    <div class="ng-cloak">
      Pairs: {{selected.pairs.length}} / {{data.pairs.length}}
      <br />Nodes: {{graph.nodes.length}} / {{data.cells.length}}
      <br />Edges: {{graph.edges.length}} / {{edgeCount}} 
      <br /><span class="bg-danger" ng-show="graph.edges.length >= 100">Maximum of 100 edges shown</span></span>    
    </div>

    <h3>
      <a href="" data-toggle="collapse" data-target="#filters" class="">Filters <b class="caret"></b></a>
    </h3>
    <div id="filters" class="fade in collapse">
      <p />Ligand - Receptor Pairs
      <div class="pull-right">{{selected.pairs.length}} / <a href ng-click="selected.pairs = data.pairs">{{data.pairs.length}}</a> <a href ng-click="selected.pairs = []">(clear)</a></div>  
      <select id="pairs" class="col-md-12" size="30" multiple chosen ng-model="selected.pairs" ng-options="p.Ligand + '-' + p.Receptor for p in data.pairs track by p.id" data-placeholder="Select Ligand-Receptor pairs"></select>

      <p />Samples
      <div class="pull-right">{{selected.cells.length}} / <a href ng-click="selected.cells = data.cells">{{data.cells.length}}</a> <a href ng-click="selected.cells = []">(clear)</a></div>
      <select id="cells" class="col-md-12" size="30" multiple  chosen ng-model="selected.cells" ng-options="c.name for c in data.cells track by c.id" data-placeholder="Select cell samples" style="width: 100%"></select>

      <p />
      Ligand min TPM
      <div slider ng-model="ligandRange.val" max="ligandRange.max"></div>

      <p /><br />Receptor min TPM
      <div slider ng-model="receptorRange.val" max="receptorRange.max"></div>

    </div>

    <h3>
      <a href="" data-toggle="collapse" data-target="#help" class="">Explanation <b class="caret"></b></a>
    </h3>
    <div id="help" class="fade out collapse">
      <ul>
        <li>Select Ligand - Receptor pair in the filter section on the left.
        <li>Select cell samples.
        <li>The top 100 edges (L-R pairs) for the selected cells will appear in the middle.
        <li>Hover over nodes and edges to get more information.
        <li>Click and drag nodes to move.
        <li>Click a node to fix in place.  Click again to release.
      </ul> 
    </div>
   
  </div>
</div>

<div id="footer" class="footer text-center">
  <p>Made and maintained by J. Harshbarger.</p>
</div>


