  /* #vis { text-align: center; width: 700px;}
  #vis svg { width: 100%; height: 500px; } */

#vis svg { 
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
  
  font-family: Helvetica, Arial, sans-serif;
}

.axis {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  fill: #ccc;
  fill-opacity: 1;
  stroke: #333;
  stroke-width: 1px;
  cursor: pointer;
}

.node text {
  stroke: none;
  fill: #333;
  stroke-width: 1px;
  font-size: 10px;
  cursor: pointer;
  display: none;
  /* shape-rendering: crispEdges;
  writing-mode: tb;
  glyph-orientation-vertical: 0;
  kerning: -3; */
}

svg.labels .node text {
  display: inherit;
} 

.node:hover text, .node.hover text, .node.fixed text {
  font-size: 18px !important;
}

.node.fixed circle, .node.fixed rect {
  stroke: red !important;
  stroke-width: 3px !important;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  opacity: 0.6;
}

svg.fixed .link {
  stroke: #666;
  opacity: 0.3;
}

svg.hover .link {
  stroke: #666 !important;
  opacity: 0.1 !important;
}

svg.hover .link.hover, .link:hover {
  stroke: blue !important;
  opacity: 1 !important;
}

svg.hover .node {
  opacity: 0.1 !important;
}

svg.hover .node.hover, svg.hover .node:hover {
  opacity: 1 !important;
}

.link.fixed {
  stroke: red !important;
  opacity: 1 !important;
}

.target-arrow {
  stroke-width: 1px;
  stroke: #666;
  fill: none;
  opacity: 1;
}

#legend {
  margin: 0 30px;
  display: inline-block;
}

#legend .rotate {
  height:30px;
  line-height: 30px;
}

#legend .node {
  display: inline-block;
  border: 0;
  width: 16px;
  height: 16px;
  margin-top: 0;
  border-radius: 8px;
}

#legend .node.square {
  border-radius: 0;
}

#legend .node.receptor {
  background-color: #3349ff;
}

#legend .node.ligand {
  background-color: #ed1940;
}

#legend .node.both {
  background-color: #a650e2;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events:none !important;
  z-index: 100;
  position: absolute;
  top: 40px !important;
  right: 20px !important;
  width: 400px !important;
  left: auto !important;
}
