
<h4 class="title">Ligand Receptor Connectome</h4>
<p>A visual guide to FANTOM5 Ligand-Receptor interactions</p>

<p class="ng-cloak">
  Pairs: {{selected.pairs.length}} / {{data.pairs.length}}
  <br />Nodes: {{graphData.nodes.length}} / {{graphData.nodeCount}}
  <br />Edges: {{graphData.edges.length}} / {{graphData.edgeCount}}
</p>

<accordion close-others="false">

  <accordion-group heading="Node Filters" is-open="panelState.nodeFilters" ng-class="{'collapsed': !panelState.nodeFilters}">

    <div panel heading="Samples" is-open="panelState.cells">
      <div panel-label>
        {{selected.cells.length}} / <a href ng-click="selected.cells = data.cells; $event.stopPropagation();">{{data.cells.length}}</a> <a href ng-click="selected.cells = []; $event.stopPropagation();">(clear)</a>
      </div>
      <select id="cells" class="col-md-12 form-control" size="30" multiple  chosen  display-selected-options="false" search-contains="true" ng-model="selected.cells" ng-options="c.name for c in data.cells track by c.id" data-placeholder="Select cell samples" style="width: 100%"></select>
    </div>

    <p />
    <div panel heading="Ligand cutoff" is-open="panelState.receptorRank" label="top {{options.ligandRankFilter | percentage}}" title="Showing only top {{options.ligandRankFilter | percentage}} of ligands">
      <div hc-slider ng-model="options.ligandRankFilter" max="1" min="0" step="0.01"></div>
    </div>
    
    <p />
    <div panel heading="Receptor rank" is-open="panelState.ligandRank" label="top {{options.receptorRankFilter | percentage}}" title="Showing only top {{options.receptorRankFilter | percentage}}% of receptors">
      <div hc-slider ng-model="options.receptorRankFilter" max="1" min="0" step="0.01"></div>
    </div>

  </accordion-group>

  <accordion-group heading="Edge Filters" is-open="panelState.edgeFilters" ng-class="{'collapsed': !panelState.edgeFilters}">

    <div panel heading="Ligand - Receptor Pairs" is-open="panelState.pairs">
      <div panel-label>
        {{selected.pairs.length}} / <a href ng-click="selected.pairs = data.pairs; $event.stopPropagation();">{{data.pairs.length}}</a> <a href ng-click="selected.pairs = []; $event.stopPropagation();">(clear)</a>
      </div>
      <select id="pairs" class="col-md-12" size="30" multiple chosen  display-selected-options="false" search-contains="true" ng-model="selected.pairs" ng-options="p.Ligand + '-' + p.Receptor for p in data.pairs track by p.id" data-placeholder="Select Ligand-Receptor pairs"></select>
    </div>

    <p />
    <div panel heading="Ligand TPM" is-open="panelState.ligand" label="&gt; {{options.ligandFilter | number:0}} tpm" title="Only showing edges where the ligand expression exceeds {{options.ligandFilter | number:0}} tpm">
      <div hc-slider ng-model="options.ligandFilter" max="graphData.ligandExtent[1]" min="0" step="1"></div>
    </div>

    <p />
    <div panel heading="Receptor TPM" is-open="panelState.receptor" label="&gt; {{options.receptorFilter | number:0}} tpm" title="Only showing edges where the receptor expression exceeds {{options.receptorFilter | number:0}} tpm">
      <div hc-slider ng-model="options.receptorFilter" max="graphData.receptorExtent[1]" min="0" step="1"></div>
    </div>

    <p />
    <div panel heading="Edge cutoff" label="top {{options.edgeRankFilter | percentage}}" is-open="panelState.edges" title="Showing only top {{options.edgeRankFilter |percentage}}% of edges">
      <div hc-slider ng-model="options.edgeRankFilter" max="1" min="0" step="0.01"></div>
    </div>
  </accordion-group>

  <accordion-group heading="Options" is-open="panelState.options" ng-class="{'collapsed': !panelState.options}">
    <div>
      Show node labels
      <div class="pull-right small"><input type="checkbox" ng-model="options.showLabels"></div>
    </div>

    <p/>
      <span ng-click="go('home.force-graph')"><input type="radio" ng-model="state" value="home.force-graph"> force directed graph</span>
      <br /><span ng-click="go('home.hive-graph')"><input type="radio" ng-model="state" value="home.hive-graph"> hive plot</span>
  </accordion-group>

  <accordion-group heading="Explanation" is-open="panelState.help" ng-class="{'collapsed': !panelState.help}">
    <ul>
      <li>Select samples and node cut offs from node filter section.
      <li>Select Ligand - Receptor pairs and edge cut offs from the edge filter section.
      <li>Hover over nodes and edges to get more information.
      <li>Click and drag nodes to move.
      <li>Double click a node to fix in place.  Double click again to release.
    </ul>

  </accordion-group>

  <accordion-group heading="Download" is-open="panelState.download" ng-class="{'collapsed': !panelState.download}">

  <p>
    <button class="btn btn-primary" svg-download="#vis" title="lr-graph">Vector graphic (svg)</button>
    <button class="btn btn-default" ng-click="saveJson()">Data model (json)</button>
  </p>

  </accordion-group>
</accordion>




